<main class="excursion-main">
    <h2 class="excursion-title"><hr>EXCURSIONS<hr></h2>
    <section class="product">
        <h2 class="product-category">Top Excursions</h2>
        <%# <button class="pre-btn"><i class="bi bi-arrow-left"></i></button>
        <button class="nxt-btn"><i class="bi bi-arrow-right"></i></button> %>
        <div class="product-container">
            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            
            <%# <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                    <a href="/" class="card-btn">More Info</a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">CHUKKA TOURS</h2>
                    <p class="product-short-description">A short Line</p>
                    <span class="actual-price">$20</span>
                </div>
            </div>
        </div> %>
    </section>

    <section class="activity">
        <h2 class="activity-title">Top Activities</h2>
        <div class="row">
            <div class="column">
                <div>
                    <h4>HorseBack</h4>
                    <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                </div>
                <div>
                    <h4>HorseBack</h4>
                    <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                </div>
            </div>
            <div class="column">
                <div>
                    <h4>HorseBack</h4>
                    <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                </div>
                <div>
                    <h4>HorseBack</h4>
                    <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                </div>
           </div>
        </div> 
    </section>
    <form class="excursion-form" action="/" method="post">
    <h4>WHAT WOULD YOU LIKE TO DO?</h4>
    <div class="mb-3">
        <%# <label for="airport" class="form-label">Airport</label> %>
        <textarea placeholder="What activities or attraction are you interested in?" name="activities" rows="4" cols="50" class="form-control" id="activity-list" ></textarea>
    </div>
    <div class="mb-3">
        <%# <label for="hotel" class="form-label">Hotel</label> %>
        <input type="text" class="form-control" id="persons" placeholder="How many persons in your travel group?">
    </div>
    <div class="mb-3">
        <%# <label for="passengers" class="form-label">Hotel</label> %>
        <input type="text" class="form-control" id="passengers" placeholder="Number of Passengers">
    </div>
    <div class="mb-3">
        <label for="arrival" class="form-label">Desired Date & Time</label>
        <div class="dates">
            <input type="datetime-local" class="form-control control-a" id="arrival-a" placeholder="Arrival Date & Time">
            <input type="datetime-local" class="form-control" id="arrival-b" placeholder="Arrival Date & Time">
        </div>
    </div>
    <div class="mb-3">
        <%# <label for="trip" class="form-label">Hotel</label> %>
        <input type="text" class="form-control" id="trip" placeholder="Where are you staying?">
    </div>
    <div class="mb-3">
        <%# <label for="name" class="form-label">Hotel</label> %>
        <input type="text" class="form-control" id="name-a" placeholder="Name">
    </div>
    <div class="mb-3">
        <%# <label for="email" class="form-label">Hotel</label> %>
        <input type="text" class="form-control" id="email-a" placeholder="Email">
    </div>
    <div class="mb-3">
        <%# <label for="contact" class="form-label">Hotel</label> %>
        <input type="text" class="form-control" id="contact-a" placeholder="Contact">
    </div>
    <input type="submit" value="Check Availability & Cost" id="submita" class="btn btn-warning">
    </form>
</main>