<main class="excursion-main">
    <h2 class="excursion-title"><hr>EXCURSIONS<hr></h2>
    <section class="product">
        <h2 class="product-category">Top Excursions</h2>
        <div class="product-container">
            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card product-card" style="width: 18rem;">
                <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                <div class="card-body">
                    <h5 class="card-title">CHUKKA TOURS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            
            <%# <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">Hot <i class="bi bi-fire"></i></span>
                    <a href="/" class="card-btn">More Info</a>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">CHUKKA TOURS</h2>
                    <p class="product-short-description">A short Line</p>
                    <span class="actual-price">$20</span>
                </div>
            </div>
        </div> %>
    </section>

    <section class="activity">
        <h2 class="activity-title">Top Activities</h2>
        <div class="row">
            <div class="column">
                <div>
                    <h4>HorseBack</h4>
                    <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                </div>
                <div>
                    <h4>HorseBack</h4>
                    <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                </div>
            </div>
            <div class="column">
                <div>
                    <h4>HorseBack</h4>
                    <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                </div>
                <div>
                    <h4>HorseBack</h4>
                    <%= image_tag("transfer/car.jpg", class:'card-img-top product-image', alt:'thumbnail') %>
                </div>
           </div>
        </div> 
    </section>
    <h4>WHAT WOULD YOU LIKE TO DO?</h4>
    <form class="excursion-form" action="https://formsubmit.co/smarttravel876@gmail.com" method="POST">
        <textarea placeholder="What activities or attraction are you interested in?" name="activities" rows="4" cols="50" class="form-control mb-3 div" id="activity-list" ></textarea>
        <input name="travel-group-number" type="text" class="form-control mb-3 div" id="persons" placeholder="How many persons in your travel group?">
        <input name="number-of-passengers" type="text" class="form-control mb-3 div" id="passengers" placeholder="Number of Passengers">
        <label for="arrival" class="mb-3 div">Desired Date & Time</label>
        <input name="desired-date-1" type="datetime-local" class="form-control mb-3 div control-a" id="arrival-a" placeholder="Arrival Date & Time">
        <input name="desired-date-2" type="datetime-local" class="form-control mb-3 div" id="arrival-b" placeholder="Arrival Date & Time">
        <input name="current-hotel" type="text" class="form-control mb-3 div" id="trip" placeholder="Where are you staying?">
        <input name="Name" type="text" class="form-control mb-3 div" id="name-a" placeholder="Name">
        <input name="Email" type="text" class="form-control mb-3 div" id="email-a" placeholder="Email">
        <input name="Contact" type="text" class="form-control mb-3 div" id="contact-a" placeholder="Contact">
        <input type="submit" value="Check Availability & Cost" id="submita" class="btn btn-warning">
    </form>
</main>