<!DOCTYPE html>
<html>
  <head>
    <title>Jamaica Smart Travel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# <meta property="og:description" content="START PLANNING FOR JAMAICA - Private Airport Transfers &amp;  Excursions"/> %>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://photos.app.goo.gl/mHDSqrE2pZYXDruaA"/>
    <meta property="og:locale" content="en_US"/>
    <meta name="twitter:card" content="summary"/>
    <%# <meta name="twitter:title" content="tagjamaica.com"/> %>
    <meta name="twitter:description" content="PRIVATE AIRPORT TRANSFERS &amp; TOURS"/>
    <meta name="twitter:image" content="https://photos.app.goo.gl/mHDSqrE2pZYXDruaA"/>
    <%# <meta name="twitter:image:alt" content="tagjamaica.com"/> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
      <style>
        .home-banner {
          background: url(<%= asset_path 'home/waterfall.jpg' %>);
          background-size: cover;
        }

      </style>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path("home/JamaicaST.3.png") %>
  </head>

  <body class="home-body">
    <%= render partial: "shared/navbar" %>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </body>
</html>
